<div class="div-central">
    <div class="container">
        <div class="row" style="width: 30%;">
            <div class="col">
                <div class="example-button-row text-center">
                    <button mat-raised-button  color="primary" (click)="add()">
                        <label>Agregar Profesor</label>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="identificador">
                    <th mat-header-cell *matHeaderCellDef> Identificador </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="materia">
                    <th mat-header-cell *matHeaderCellDef> Materia </th>
                    <td mat-cell *matCellDef="let element">
                        {{getEspecialidad(element.idEspecialidad)}}
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef> Editar </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" (click)="edit(element)">
                            <label>Editar</label>
                        </button>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="warn" (click)="delete(element.id, element.nombre, element.apellido)">
                            <label>Eliminar</label>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
