<div class="div-central">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="example-button-row">
                    <button mat-raised-button color="primary" (click)="redirectProfesor()">
                        <label style="font-size: 1.5em;">Profesor</label> 
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="example-button-row">
                    <button mat-raised-button color="primary" (click)="redirectAlumno()">
                        <label style="font-size: 1.5em;">Alumno</label>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>