<h1 mat-dialog-title>{{titulo}}</h1>
<hr />
<div mat-dialog-content>
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="procees()">

        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Nombre: </mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre" required>
                <mat-error *ngIf="nombreNoValido()">Ingrese un nombre</mat-error>
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Apellido: </mat-label>
                <input matInput placeholder="Apellido" formControlName="apellido" required>
                <mat-error *ngIf="apellidoNoValido()">Ingrese un apellido</mat-error>
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Materia</mat-label>
                <mat-select formControlName="clase" required>
                    <mat-option *ngFor="let espe of especialidades" [value]="espe.id">
                        {{espe.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-primary btn-block" (click)="cerrarDialogo(false)">
                    Cancelar
                </button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-primary btn-block">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>